// Colors
$white: #fff;
$green: #16a085;

// Typography
$poppins: 'Poppins', sans-serif;

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background-color: $green;
	font-family: $poppins;
	font-size: 100%;
	font-weight: 300;
	color: $white;
	line-height: 1.5;
	margin: 0;
	padding: 0;
}

.wrap {
	max-width: 1050px;
	margin: 0 auto;
	padding: 100px 25px;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

a {
	color: $white;
	text-decoration: none;
	border-bottom: 1px dotted $white;
	opacity: 1;
	transition: all 0.3s ease;
	&:hover, &:active, &:focus {
		opacity: 0.85;
	}
}

.link {
	position: absolute;
	top: 10px;
	left: 10px;
	text-transform: uppercase;
	font-size: 0.9em;
	&:before {
		content: "←";
		color: $white;
		margin-right: 5px;
	}
}

h1 {
	font-size: 3em;
	font-weight: 300;
}

h2 {
	font-size: 2.5em;
	font-weight: 300;
}

ul {
	margin: 0;
	padding: 0;
	li {
		list-style-type: none;
		display: block;
		width: 14.285714%;
		float: left;
	}
}

.days-of-week {
	li {
		text-align: center;
		color: $green;
		background-color: $white;
		padding: 10px 0;
		border-top: 1px solid $white;
		border-right: 1px solid $green;
		border-bottom: 1px solid $white;
		&:first-child {
			border-left: 1px solid $white;
		}
		&:last-child {
			border-right: 1px solid $white;
		}
	}
}

.days-of-month {
	li {
		position: relative;
		padding: 25px 10px;
		height: 125px;
		text-align: center;
		border-top: none;
		border-right: 1px solid $white;
		border-bottom: 1px solid $white;
		&:nth-of-type(1) {
			border-left: 1px solid $white;
		}
		&:nth-of-type(7n+8) {
			border-left: 1px solid $white;
			clear: both;
		}
		span {
			position: absolute;
			top: 5px;
			left: 5px;
			font-size: 0.8em;
		}
	}
}

@media (max-width: 960px) {
	.wrap {
		padding: 25px;
	}
	.days-of-week {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	.days-of-month {
		li {
			padding: 25px;
			height: auto;
			width: 100%;
			float: none;
			border-top: none;
			border-left: none;
			border-right: none;
			&:nth-of-type(1) {
				border-left: none;
			}
			&:nth-of-type(7n+8) {
				border-left: none;
				clear: both;
			}
			span {
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
}