@import "mixins";
@import "normalize";

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background-color: $green;
	font-family: $poppins;
	font-size: 100%;
	font-weight: 300;
	color: $white;
	line-height: 1.5;
	margin: 0;
	padding: 0;
}

.wrap {
	max-width: 1050px;
	margin: 0 auto;
	padding: 100px 25px;
}

h1 {
	font-size: 3rem;
	font-weight: 300;
}

h2 {
	font-size: 2.5rem;
	font-weight: 300;
}

ul {
	margin: 0;
	padding: 0;
	display: flex;
	flex-flow: row wrap;

	li {
		list-style-type: none;
		display: block;
		width: 14.285714%;

		&::before {
			/* https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-type | Accessibility concerns */
		  content: "\200B";
		}
	}
}

.days-of-week {
	li {
		text-align: center;
		color: $green;
		background-color: $white;
		padding: 10px 0;
		border-top: 1px solid $white;
		border-right: 1px solid $green;
		border-bottom: 1px solid $white;

		&:first-child {
			border-left: 1px solid $white;
		}

		&:last-child {
			border-right: 1px solid $white;
		}
	}
}

.days-of-month {
	li {
		position: relative; /* We need this to position the spans and dates */
		padding: 25px 10px;
		height: 125px; /* Each date has a fixed height */
		text-align: center;
		border-top: none;
		border-right: 1px solid $white;
		border-bottom: 1px solid $white;

		&:nth-of-type(1) {
			border-left: 1px solid $white;
		}

		&:nth-of-type(7n+8) {
			border-left: 1px solid $white;
		}

		span {
			position: absolute;
			top: 5px;
			left: 5px;
			font-size: 0.8rem;
		}
	}
}

@media only screen and (max-width: 960px) {
	.wrap {
		padding: 25px;
	}

	.days-of-week {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	.days-of-month {
		li {
			display: block;
			height: auto;
			width: 100%;
			padding: 0;
			text-align: left;
			border-top: none;
			border-left: none;
			border-right: none;

			&:empty { /* hide the empty days = li without a span or text */
				display: none;
			}

			&:nth-of-type(1) {
				border-left: none;
			}

			&:nth-of-type(7n+8) {
				border-left: none;
			}

			span {
				position: static;
				display: inline-block;
				padding: 15px;
				margin-right: 15px;
			}
		}
	}
}
